.about {
  height: 96%;
}

.header:before {
  content: "";
  display: block;
  width: 25%;
  border-top: 1.5px solid black;
}

.description {
  margin-bottom: 10px;
  border: none;
  border-radius: 16px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.faq {
  border: none;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.faq-question {
  font-weight: bold;
}
