.home {
  align-items: center;
  min-height: 80%; /* TODO: Figure out how to fill height to remaining space */
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
  text-align: left;
}

.home * {
  width: 100%
}

.home-text * {
  margin: 12px 0px 12px 0px;
}

.learn-more {
  color: gray;
  font-size: 16px;
}
