.home {
  height: 96%; /* Don't want it completely aligned in the center? */
  text-align: left;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.home-start-button {
  text-align: left;
  padding: 16px;
  width: 100%;
  margin: 16px 0px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 1rem;
}

.home-start-button:focus {
  outline: none;
}

.home-search-button {
  text-align: left;
  width: fit-content;
  padding: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.home-search-button:focus {
  outline: none;
}

.home-text * {
  margin: 12px 0px 12px 0px;
}

.learn-more {
  color: gray;
  font-size: 1rem;
}
