
.learn-more {
  color: gray; font-size: 12px;  
}

.home {
  align-items: center;
  min-height: 88%; /* TODO: Figure out how to fill height to remaining space */
  flex-direction: row;
  margin-left: 12%;
  text-align: left;
}

.home * {
  margin: 12px 0px 12px 0px
}

.home-inner {

}

.start-button {
  margin-top: 20px;
}

