.orgs-container {
  max-width: 500px;
}

.orgs-card {
  background: rgba(255, 247, 167, 0.8);
  border: none;
  border-radius: 16px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
  align-items: center;
}

.ripplit-button {
  text-align: left;
  padding: 16px;
  border-radius: 32px;
  width: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.ripplit-button:focus {
  outline: none;
}

.welcome-text-title {
  color: #33aaff;
}

.stats-cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.stats-cards > ul > li {
  max-height: 220px;
  overflow: hidden;
  position: relative;
}
