.header {
  margin: auto;
  width: 28%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header-item {
  display: inline-block;
  flex: 0 1 auto;
}

.header-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: black;
  transition: width 0.3s;
}

.header-item:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.header-item a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
}

.header-textbox {
  padding: 0px 8px 0px 8px;
}
